<html>
<head>
	<title></title>
</head>

<body>
	<div ng-app="weddingApp">
	    <!-- <ul class="nav nav-pills"> -->
	    <br><br>
	    <div id="main_navbar">
		    <ul class="nav nav-tabs nav-justified mainMenu">
			  	<li role="presentation"><a href="#/ourwedding">Our Wedding</a></li>
			  	<li role="presentation"><a href="#/details">Details</a></li>
			  	<li role="presentation"><a href="#/photos">Photos</a></li>
			  	<li role="presentation"><a href="#/registry">Registry</a></li>
			  	<li role="presentation"><a href="#/rsvp">RSVP</a></li>
			</ul><br>
		</div>

	    <div ng-view=""></div>
	    <br>
	    <p class="minify">Website created by DonoCodes®</p>
	</div>
</body>
</html>