<html>
<head>
	<title></title>
</head>
<body>
	<div ng-app="weddingApp">
	    <!-- <ul class="nav nav-pills"> -->
	    <ul class="nav nav-tabs nav-justified mainMenu">
		  	<li role="presentation"><a href="#/ourwedding">Our Wedding</a></li>
		  	<li role="presentation"><a href="#/details">Details</a></li>
		  	<li role="presentation"><a href="#/photos">Photos</a></li>
		  	<li role="presentation"><a href="#/registry">Registry</a></li>
		  	<li role="presentation"><a href="#/rsvp">RSVP</a></li>
		</ul><br>

	    <div ng-view=""></div>
	</div>
</body>
</html>