
<div>
    <!-- <h2><u>Details</u></h2><br> -->
    <h1>Accomodations</h1><br>
    <h2>The Mexican Resort Name</h2>
    <p>123 Mexico St. Mexico</p>
    <form action="http://www.youtube.com" class="resort_link">
	    <input type="submit" value="Visit Website" class="btn btn-default btn-sm">
	</form><br><br>

	<h2>Other Mexican Resort Name</h2>
    <p>246 Mexico St. Mexico</p>
    <form action="http://www.youtube.com" class="resort_link">
	    <input type="submit" value="Visit Website" class="btn btn-default btn-sm">
	</form><br>

    <h1>♥</h1><br>

    <h1>Things To Do</h1>
    <h3>Scuba Diving</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor.</p>
    <br>

    <h3>Snorkeling</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor.</p>
    <br>

    <h3>Paragliding</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor.</p>

</div>