
<div>
    <!-- <h2><u>Details</u></h2><br> -->
    <h1>Accomodations</h1><br>
    <h2>Rancho Las Cruces</h2>
    <p>La Paz, Baja California Sur, Mexico</p>

    <iframe
        width="600"
        height="450"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCc8JDlgVCGl6psqhzHIAMTu3v_oQc9Xd8&q=Rancho+Las+Cruces+La+Paz+Baja+California+Sur" allowfullscreen>
    </iframe>
    <br><br>

    <form action="http://www.rancholascruces.com" class="resort_link">
	    <input type="submit" value="Visit Website" class="btn btn-info btn-lg">
	</form><br><br>

	<h2>Other Mexican Resort Name</h2>
    <p>246 Mexico St. Mexico</p>

    <iframe
        width="600"
        height="450"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCc8JDlgVCGl6psqhzHIAMTu3v_oQc9Xd8&q=La+Paz+Baja+California+Sur" allowfullscreen>
    </iframe>
    <br><br>


    <form action="http://www.youtube.com" class="resort_link">
        <input type="submit" value="Visit Website" class="btn btn-info btn-lg">
    </form><br><br>

    <h1>♥<span class="enlarge">♥</span>♥</h1><br>

    <h1>Things To Do</h1>

    <h3>Resort Activities</h3>
    <p>Horseback riding. Guided tours. Breathtaking trails, mountain pools and isolated beaches. 3 tennis courts, one paddle tennis court, golf driving range with simulated play, putting green, par course which provides scientifically balanced exercise, croquet courts, horse shoes, shuffleboard, skeet shooting, sporting clays, volleyball court, table tennis and badminton. </p>
    <form action="http://www.rancholascruces.com/en/activities/" class="resort_link">
        <input type="submit" value="More Info" class="btn btn-info">
    </form><br><br>
    <br>

    <h3>Snorkeling</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor.</p>
    <form action="rancholascruces.com/en/activities/" class="resort_link">
        <input type="submit" value="More Info" class="btn btn-info">
    </form><br><br>
    <br>

    <h3>Paragliding</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor.</p>
    <form action="http://www.rancholascruces.com/en/activities/" class="resort_link">
        <input type="submit" value="More Info" class="btn btn-info">
    </form><br><br>
    <br>

</div>