<style type="text/css">
    .countDown{
        background-color: red;
    }
</style>

<div>
    <div class="main_jumbo">
    	<img src="https://farm2.staticflickr.com/1562/26473505012_4d8a966b93_z.jpg" class="main_jumbo_photo" height=550>
    	<h1 class = "main_jumbo_header">Melanie & Nate</h1>
    	<h3>October 8, 2016</h3>
    	<!-- <p>214 days...</p> -->
        <!-- <iframe src="http://free.timeanddate.com/countdown/i55x8mjz/n137/cf11/cm1/cu1/ct0/cs1/ca0/co0/cr0/ss0/cac000/cpc000/pcfff/tcfff/fs100/szw320/szh135/iso2016-10-08T00:00:00" allowTransparency="true" frameborder="0" width="100" height="19" class="countDown"></iframe> -->
    </div><br><br><br>

    <div class="main_our_story">
    	<h1>Our Story</h1><br>
    	<img src="https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xlt1/v/t1.0-9/13010881_10209746853330959_5914010155735215079_n.jpg?oh=139d28a73fc2c3b003db3b890e9ee251&oe=57AEC7B8" class="main_our_story_photo" height=550><br><br>
    	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoconsequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, uis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <h1>↞ ♥ ↠</h1><br>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoconsequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, uis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p><br><br>

    	<h2>The Proposal</h2><br>
    	<img src="https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xaf1/v/t1.0-9/1915673_10206314879484869_1809415099929225811_n.jpg?oh=7b87f9542ad74842657f231c4379f2bc&oe=57BDB524" class="main_proposal_photo" height=550><br><br>
    	<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div><br>

    <h1>↞ ♥ <span class="enlarge">♥</span> ♥ ↠</h1><br>

    <div class="main_wedding_info">
    	<h1>Our Wedding</h1><br>
    	<p>October 8, 2016</p>
    	<p>Rancho Las Cruces</p>
        <p>La Paz, Baja California Sur, Mexico</p>
    	<p>3:00 PM</p><br>

    	<h3>Ceremony</h3>
    	<p>Santa Cruz Chapel</p>
    	<p>La Paz, Baja California Sur, Mexico</p><br>

    </div><br>

    <h1>↞ ♥ ↠</h1><br>

    <div class="main_wedding_party">
    	<h1>Our Wedding Party</h1><br>

        <h3>The Bridesmaids</h3>

    	<div class="bridesmaids">
            <h3><span class= "cursive">Monica Shin</span></h3>
            <img src="https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xfp1/v/t1.0-9/1917315_258470190130_857670_n.jpg?oh=698c3175cd68a990ad69bfa9347416aa&oe=5773C546" height=130>
        </div>

        <div class="bridesmaids">
            <h3><span class= "cursive">Doris Jeong</span></h3>
            <img src="https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xtp1/v/t1.0-9/11350748_10204215401777074_4299957725578592670_n.jpg?oh=957f95c2b69da3c63e59be22270c291f&oe=57749E81" height=130>
        </div>

        <div class="bridesmaids">
            <h3><span class= "cursive">Zena Park</span></h3>
            <img src="https://farm2.staticflickr.com/1649/26536896721_48bddfaca4_m.jpg" height=130>
        </div>

        <div class="bridesmaids">
            <h3><span class= "cursive">Lauren Tran</span></h3>
            <img src="https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xlp1/v/t1.0-9/10477043_10152960401213642_8878170063094823551_n.jpg?oh=205ab4f67e39b146ca6a44de7cc5018d&oe=57A96815" height=130>
        </div>

        <div class="bridesmaids">
            <h3><span class= "cursive">Emily Woo</span></h3>
            <img src="https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xfa1/v/t1.0-9/382245_10151294108686776_1310797321_n.jpg?oh=9654ceb322161dcbfd880211b3ca5f58&oe=5774CFB3" height=130>
        </div>

        <div class="bridesmaids">
            <h3><span class= "cursive">Amy Byun</span></h3>
            <img src="https://farm2.staticflickr.com/1716/26536667951_9213e1d34c_m.jpg" height=130>
        </div>

        <br><br>
        <h3>The Groomsmen</h3>

        <div class="groomsmen">
            <h3><span class= "cursive">Charlie Denues</span></h3>
            <img src="https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xaf1/v/t1.0-9/163985_1665048779820_7856894_n.jpg?oh=4e8e5e6701d59058ac89fcf2d539e3ed&oe=5775CACC" height=130>
        </div>

        <div class="groomsmen">
            <h3><span class= "cursive">Dan Shank</span></h3>
            <img src="https://farm2.staticflickr.com/1628/25996981524_8c8eb8f8ae_m.jpg" height=130 width=130>
        </div>

        <div class="groomsmen">
            <h3><span class= "cursive">Ben Walker</span></h3>
            <img src="https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xtp1/v/t1.0-9/10297612_940762956760_2132271239340713970_n.jpg?oh=ad00772bf9587db37c2718bbab023398&oe=57A3223F" height=130>
        </div>

        <div class="groomsmen">
            <h3><span class= "cursive">Jake Walker</span></h3>
            <img src="https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xat1/v/t1.0-9/1459698_10102907124630756_479258580_n.jpg?oh=094a7b4097a4b41f1537a9b15e136850&oe=57AA5A82" height=130>
        </div>

        <div class="groomsmen">
            <h3><span class= "cursive">Roth Rind</span></h3>
            <img src="https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xpt1/t31.0-8/10383755_712569319598_6958971311010441017_o.jpg" height=130>
        </div>

        <div class="groomsmen">
            <h3><span class= "cursive">Donovan An</span></h3>
            <img src="https://farm2.staticflickr.com/1526/25997110214_6ff334058a_m.jpg" height=130 width=130>
        </div>

        <br><br>
        <h3 class="ring_bearer">The Ring Bearer</h3> <h3 class="ring_bearer flower_girl">The Flower Girl</h3><br>
        <div class="groomsmen">
            <h3><span class= "cursive">Riley Morehouse</span></h3>
            <img src="https://scontent-sea1-1.xx.fbcdn.net/hphotos-xal1/v/t1.0-9/12289731_10205550613458696_8735654208691435431_n.jpg?oh=e1f02c904ea5fdd31928db513b10888a&oe=57A88AC6" height=130 width=130>
        </div>

        <div class="groomsmen" style="margin-left:40px">
            <h3><span class= "cursive">Girl</span></h3>
            <img src="" height=130 width=120>
        </div>

    </div>
    
    <br>
</div>














