<br>
<div>
    <div class="main_jumbo">
    	<img src="https://farm2.staticflickr.com/1562/26473505012_4d8a966b93_z.jpg" class="main_jumbo_photo" height=550>
    	<h1 class = "main_jumbo_header">Melanie & Nate</h1>
    	<h3 class = "date">October 8, 2016</h3>
    </div><br><br><br><br>

    <div class="main_our_story">
    	<h1 class="cursive enlarge3">Our Story</h1><br>
    	<img src="https://scontent.fsnc1-1.fna.fbcdn.net/t31.0-8/12792322_786741607009_6518725773874344697_o.jpg" class="main_our_story_photo" height=550><br><br>

        <p>We are so excited to be getting married and to be sharing this amazing moment in our lives with all of you! We truly believe that God was at work behind the scenes and brought us together in His perfect timing. We first met in nursing school in 2013 when we were on the same leadership team for our class. After about a year of close friendship, Nate asked the question, that as we know now, would lead to an even bigger question a few years later... but she said no! But persistence pays off - Melanie eventually agreed to go on a date. When a romantic song came on, we danced, and as cliché as it is to say, it was clear there was something special between us.</p>

        <h1 class="pink">↞ ♥ ↠</h1><br>

        <p>Having spent them together, 2013-2016 have been some of the best years of our lives - graduating from nursing school, diving with manta rays, swimming with dolphins, traveling around the world, and taking care of Abby. Together, we bring out the best in each other, and we inspire and challenge each other to be the best person we can be. We look forward to starting this new chapter in our lives and creating a lifetime of new memories together, especially with you!</p><br><br>



    	<h1 class="cursive enlarge3">The Proposal</h1><br>
    	<img src="https://farm2.staticflickr.com/1457/26387239070_4eb249711e_b.jpg" class="main_proposal_photo" height=450><br><br><br>
    	<p>"Honestly, the day was a comedy of errors and botched plans - in the most hilariously ironic way possible. Several months before Easter, I called and talked to my mom, telling her that we wanted to spend the weekend in California with family. As the date approached, I conceded that I was planning on proposing to Mel while in California, and that I wanted to have a day for the two of us to "relax together" to do so. After flying to the South Bay Area, Mel and drove off under the premise of "needing a day together" - or at least that's what I told her.</p><br>

        <p>Our first stop was travelling to a nearby tourist trap that I thought would be fun. When we arrived, we not only found the place packed with people, but that the wait to go in would be over four hours. Strike one. Okay, so that didn't work... instead we decided to visit a local farmer's market that my Mom had suggested. So, we headed off the a local community college to find that the market had closed 2 hours before. Strike two. At this point we were both starving, tired of driving around, and I was sweating bullets as two of the activities I had planned for my proposal day had fallen through and I was wondering how I could salvage the situation. So, we did something sporadic - we got lunch. We drove to a nearby beach town south of Santa Cruz, ate and laid out on the beach for a bit. Perfect. Thank goodness something worked out! After an hour or so of sunbathing, we did some window shopping and headed for the Santa Cruz Beach Boardwalk, only to find it just as crowded as the first stop. You would think this would be strike three, but that's getting ahead of myself.</p><br>

        <p>Mel was contented to grab some snack food and enjoy just hanging out at the Boardwalk, even if we didn't wait in line for rides. She in fact knew that I had wanted to go "to a little park up north to watch the sunset", but she still had no idea I had in fact researched, planned out, and mapped the place where I would propose, and that I had in fact reserved dinner and dancing for the both of us after - so at this point when I realized it was forty-five minutes from sunset, I started to get anxious. We pretty much B-lined it out of the Boardwalk and I white-knuckled it out of Santa Cruz on our way up Highway 1.That's when we noticed it - the cloud bank. See, I had planned on a 7:30 sunset, but with a cloudbank moving in, the sun was going to set about half an hour early behind the clouds, and we were still half an hour away. Strike three. I was out.</p><br>

        <p>So I'm speeding like a crazy person to get to the beach park, and Mel goes, "Hey, looks like we might not get to the park - why don't we just pull over here?" "You mean the side of the road?" I responded. "Ya," she said, "it looks pretty good from here, "motioning to her left across the railroad tracks to a small  burm above the ocean cliffs. "Okay," I said. That was it - none of my plans had worked out that day - heck, the best part of it had been completely unplanned. So we pulled off the side of the road, walked across the railroad tracks, and up on the cliff overlooking the ocean. Just then I asked if we could take a picture, and upon procuring my recently purchased tripod (for just this purpose), I set it up, and made it look like I was going to take a photo with my camera - and then I hit the record button on the video. I walked to her and started mumbling cheesy "I love you so much baby" lines - to which she has become well accustomed. So she starts to try and kiss me, and in the back of my mind I'm screaming, "not yet!!! not yet!!!", but manage an awkward look and even more awkward kiss. I say some other cheesy lines, and then plop down on a knee to see a totally and completely caught-off-guard Mel looking down at me. Even so, she says yes (the most important part!), we go out for a nice waterfront dinner, and dance a bit afterwards.</p><br>

        <p>It was perfect, and not in the perfectly planned way (I mean, hell, I struck out!), but perfect in that it could not have happened in a more goofy, cheesy, unplanned, and wonderful way. Not the start of something good, but the continuation of something great - our journey together. Together into the unplanned, ironic, and awesome future that neither of us expected when we met, but hoped for nonetheless. I guess striking out isn't that bad after all."</p><br>

        <p class="cursive enlarge">-Nate</p>
    </div><br>

    <h1>↞ ♥ <span class="enlarge">♥</span> ♥ ↠</h1><br>

    <div class="main_wedding_info">
    	<h1 class="cursive enlarge4">Our Wedding</h1><br>
    	<p>October 8, 2016</p>
    	<p>Rancho Las Cruces</p>
        <p>La Paz, Baja California Sur, Mexico</p>
    	<p>3:00 PM</p><br>

    	<h3>Ceremony</h3>
    	<p>Santa Cruz Chapel</p>
    	<p>La Paz, Baja California Sur, Mexico</p><br>

    </div><br>

    <h1>↞ ♥ ↠</h1><br>

    <div class="main_wedding_party">
    	<h1 class="cursive enlarge3">Our Wedding Party</h1><br>

        <h3>The Bridesmaids</h3>

    	<div class="bridesmaids">
            <h3><span class= "cursive">Monica Shin</span></h3>
            <img src="https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xfp1/v/t1.0-9/1917315_258470190130_857670_n.jpg?oh=698c3175cd68a990ad69bfa9347416aa&oe=5773C546" height=130>
        </div>

        <div class="bridesmaids">
            <h3><span class= "cursive">Doris Jeong</span></h3>
            <img src="https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xtp1/v/t1.0-9/11350748_10204215401777074_4299957725578592670_n.jpg?oh=957f95c2b69da3c63e59be22270c291f&oe=57749E81" height=130>
        </div>

        <div class="bridesmaids">
            <h3><span class= "cursive">Zena Park</span></h3>
            <img src="https://farm2.staticflickr.com/1649/26536896721_48bddfaca4_m.jpg" height=130>
        </div>

        <div class="bridesmaids">
            <h3><span class= "cursive">Lauren Tran</span></h3>
            <img src="https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xlp1/v/t1.0-9/10477043_10152960401213642_8878170063094823551_n.jpg?oh=205ab4f67e39b146ca6a44de7cc5018d&oe=57A96815" height=130>
        </div>

        <div class="bridesmaids">
            <h3><span class= "cursive">Emily Woo</span></h3>
            <img src="https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xfa1/v/t1.0-9/382245_10151294108686776_1310797321_n.jpg?oh=9654ceb322161dcbfd880211b3ca5f58&oe=5774CFB3" height=130>
        </div>

        <div class="bridesmaids">
            <h3><span class= "cursive">Amy Byun</span></h3>
            <img src="https://farm2.staticflickr.com/1716/26536667951_9213e1d34c_m.jpg" height=130>
        </div>

        <br><br>
        <h3>The Groomsmen</h3>

        <div class="groomsmen">
            <h3><span class= "cursive">Charlie Denues</span></h3>
            <img src="https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xaf1/v/t1.0-9/163985_1665048779820_7856894_n.jpg?oh=4e8e5e6701d59058ac89fcf2d539e3ed&oe=5775CACC" height=130>
        </div>

        <div class="groomsmen">
            <h3><span class= "cursive">Dan Shank</span></h3>
            <img src="https://farm2.staticflickr.com/1628/25996981524_8c8eb8f8ae_m.jpg" height=130 width=130>
        </div>

        <div class="groomsmen">
            <h3><span class= "cursive">Ben Walker</span></h3>
            <img src="https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xtp1/v/t1.0-9/10297612_940762956760_2132271239340713970_n.jpg?oh=ad00772bf9587db37c2718bbab023398&oe=57A3223F" height=130>
        </div>

        <div class="groomsmen">
            <h3><span class= "cursive">Jake Walker</span></h3>
            <img src="https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xat1/v/t1.0-9/1459698_10102907124630756_479258580_n.jpg?oh=094a7b4097a4b41f1537a9b15e136850&oe=57AA5A82" height=130>
        </div>

        <div class="groomsmen">
            <h3><span class= "cursive">Roth Rind</span></h3>
            <img src="https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xpt1/t31.0-8/10383755_712569319598_6958971311010441017_o.jpg" height=130>
        </div>

        <div class="groomsmen">
            <h3><span class= "cursive">Donovan An</span></h3>
            <img src="https://farm2.staticflickr.com/1526/25997110214_6ff334058a_m.jpg" height=130 width=130>
        </div>

        <br><br>
        <h3 class="ring_bearer">The Ring Bearer</h3> <h3 class="ring_bearer flower_girl">The Flower Girl</h3><br>
        <div class="groomsmen">
            <h3><span class= "cursive">Riley</span></h3>
            <img src="https://scontent-sea1-1.xx.fbcdn.net/hphotos-xal1/v/t1.0-9/12289731_10205550613458696_8735654208691435431_n.jpg?oh=e1f02c904ea5fdd31928db513b10888a&oe=57A88AC6" height=130 width=130>
        </div>

        <div class="groomsmen" style="margin-left:40px">
            <h3><span class= "cursive">Emma</span></h3>
            <img src="https://scontent.fsnc1-1.fna.fbcdn.net/t31.0-8/11060945_935512393148089_2669505965183510991_o.jpg" height=130 width=120>
        </div>

    </div>
    
    <br>
</div>














