<style type="text/css">

</style>

<div>
    <h2><u>Photos</u></h2><br>

    <div class="row">
	  <div class="col-xs-6 col-md-3">
	    <!-- <a href="#" class="thumbnail"> -->
	      <img src="https://farm2.staticflickr.com/1501/26473504102_33b04e078b_m.jpg" alt="..." class="thumbnail">
	    <!-- </a> -->
	  </div>

	  <div class="col-xs-6 col-md-3">
	    <!-- <a href="#" class="thumbnail"> -->
	      <img src="https://farm2.staticflickr.com/1441/26473502962_7cc10ed311_m.jpg" alt="..." class="thumbnail">
	    <!-- </a> -->
	  </div>

	  <div class="col-xs-6 col-md-3">
	    <!-- <a href="#" class="thumbnail"> -->
	      <img src="https://farm2.staticflickr.com/1522/26473502372_05c4625e19_m.jpg" alt="..." class="thumbnail">
	    <!-- </a> -->
	  </div>

	  <div class="col-xs-6 col-md-3">
	    <!-- <a href="#" class="thumbnail"> -->
	      <img src="https://farm2.staticflickr.com/1663/26499825661_031d119af4_m.jpg" alt="..." class="thumbnail">
	    <!-- </a> -->
	  </div>
	</div><br><br>

	<h2>More to come!</h2>

</div>




