<div>
	<br><br>
    <p>We can't wait to get married and are so honored that you would join us in <i>Mexico</i> for our wedding! We completely understand how much of a commitment it is for you to be able to celebrate with us, so please do not feel obligated to purchase a gift, because quite honestly, the most important gift you can bring us is having you and your dancing shoes at our celebration!</p>

    <p>With that said, if you would like to help us start our new life together, we have registered for items we would love to have in our new home! We are so excited to spend our special day with you and feel very blessed to have you in our lives! <i>¡Hasta Luego!</i></p><br>

    <h1>↞ ♥ ↠</h1><br>


    <br><br>

    <a href="https://secure.williams-sonoma.com/registry/zzkxdx2jbp/registry-list.html"><img src="https://farm9.staticflickr.com/8675/28723414640_3cfe57f950_b.jpg" class="registry_link"></a>


    <br><br><br><br><br><br><br>
</div>
