/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.mainMenu{
	/*position: fixed;*/
 }

.main_jumbo{
	/*border: 5px solid black;*/
	background-color: white;
	height: 800px;
	width: 830px;
	box-shadow: 2px 2px 15px #888888;
	}

	.main_jumbo_photo{
		margin-top: 15px;
	}

	.main_jumbo_header{
		font-family: Brush Script MT;
		font-size: 4em;
	}

.main_our_story_photo, .main_proposal_photo, .rsvp_photo{
	border: 15px solid white;
	box-shadow: 2px 2px 15px #888888;
}

#main_navbar{
	top: 0;
	/*border: 1px dotted red;*/
	position: fixed;
	height: 80px;
	background-color: #F7F7F7;
	margin-right: 45px;
}

#main_navbar ul{
	margin-top: 20px;
}

.cursive{
	font-family: Brush Script MT;
}

.enlarge{
	font-size: 2em;
}
.minify{
	font-size: .8em;
}

.bridesmaids, .groomsmen{
	box-shadow: 2px 2px 15px #888888;
	background-color: white;
	display: inline-block;
	vertical-align: top;
	width: 150px;
	height: 200px;
}

.rsvpForm{
	/*border: 1px dotted red;*/
	width: 700px;
}
 .rsvpForm label{
 	width: 120px;
 	/*border: 1px dotted green;*/
 }


.rsvp_guests{
 	/*border:1px dotted red;*/
 	margin-left: 150px;
 	width: 500px;
 }

 .rsvp_guests input{
 	/*border:1px dotted red;*/
 	width: 300px;
 }

 .red{
 	color: red;
 }

.green{
	color: green;
}


.detailsTop{
	border: 15px solid white;
	background-color: white;
	box-shadow: 2px 2px 15px #888888;
	width: 650px;
}


.resort_link{
	display: inline-block;
}



.ring_bearer{
	display: inline-block;
}
 .flower_girl{
 	margin-left: 20px;
 }










