
<div>
    <h1>Accomodations</h1><br>

    <p>The wedding will take place at the Rancho Las Cruces resort, which we have privately reserved for the weekend! The food at the resort is all inclusive so make sure you pack some stretchy pants. The resort is $200/night/person and children under 4 are free. Guests are free to stay as long as they want before or after the wedding. Click on the link provided below to make your reservations and <b>please make sure to include that you are attending Melanie and Nate's wedding in the "Special Needs" portion of the reservation form.</b></p><br>

    <p>Print a copy of a checklist we made for you <a href="https://docs.google.com/document/d/1uiAvebRjBGWAgEf0HicgxKsJNms26G_00re2GjjDzgg/edit?usp=sharing" class="googDoc">here</a>!</p><br>

    <div class="detailsTop">
        <h2>Rancho Las Cruces</h2>
        <p>La Paz, Baja California Sur, Mexico</p>

        <iframe
            width="600"
            height="450"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCc8JDlgVCGl6psqhzHIAMTu3v_oQc9Xd8&q=Rancho+Las+Cruces+La+Paz+Baja+California+Sur" allowfullscreen>
        </iframe>
        <br><br>

        <form action="http://www.rancholascruces.com" class="resort_link">
            <input type="submit" value="Visit Website" class="btn btn-info">
        </form>

        <form action="http://rancholascruces.com/reservations/" class="resort_link" style="margin-left:10px">
            <input type="submit" value="Make Reservations" class="btn btn-info">
        </form><br><br>

    </div><br><br><br><br>

    <p>Given the exclusivity of the resort, the only other options for accomodations will be within the nearby city of La Paz, which is about an hours drive away. There are a number of well-received hotels in the city with rates that start as low as $50.</p>

    <p>Check out the map below and click on the link to explore TripAdvisor's list of highly rated hotels!</p><br><br>

    <div class="detailsTop">
    	<h2>La Paz, Mexico</h2><br>

        <iframe
            width="600"
            height="450"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/search?key=AIzaSyCc8JDlgVCGl6psqhzHIAMTu3v_oQc9Xd8&q=hotels+in+La+Paz+Baja+California+Sur" allowfullscreen>
        </iframe>
        <br><br>

        <div id="TA_socialButtonIcon611" class="TA_socialButtonIcon">
            <ul id="IAX6WV5f" class="TA_links craQCddv3Y" style="padding-left:0">
                <li id="xjfiv9QXMU" class="Wbq597J">
                    <a target="_blank" href="https://www.tripadvisor.com/Hotels-g150771-La_Paz_Baja_California-Hotels.html"><img src="https://www.tripadvisor.com/img/cdsi/img2/branding/socialWidget/64x64_green-21690-2.png"/></a>
                </li>
            </ul>
        </div>
        <script src="https://www.jscache.com/wejs?wtype=socialButtonIcon&amp;uniq=611&amp;locationId=150771&amp;color=green&amp;size=lg&amp;lang=en_US&amp;display_version=2"></script>

    </div><br><br>

    <h1>↞ ♥ <span class="enlarge">♥</span> ♥ ↠</h1><br>

    <h1>Things To Do</h1><br>

    <h3>Resort Activities</h3>
    <p>Horseback riding. Guided tours. Breathtaking trails, mountain pools and isolated beaches. 3 tennis courts, one paddle tennis court, golf driving range with simulated play, putting green, par course which provides scientifically balanced exercise, croquet courts, horse shoes, shuffleboard, skeet shooting, sporting clays, volleyball court, table tennis and badminton. Or just relax by a beach with a book!</p><br>


    <div class="row">
      <div class="col-xs-6 col-md-4">
        <div class="thumbnail">
          <img src="http://rancholascruces.com/wp-content/uploads/2013/08/Casas-09.jpg" alt="...">
        </div>
      </div>

      <div class="col-xs-6 col-md-4">
        <div class="thumbnail">
          <img src="http://rancholascruces.com/wp-content/uploads/2013/08/Aerial-17.jpg" alt="...">
        </div>
      </div>

      <div class="col-xs-6 col-md-4">
        <div class="thumbnail">
          <img src="http://rancholascruces.com/wp-content/uploads/2013/08/Views-06.jpg" alt="...">
        </div>
      </div>
    </div><br>
    <form action="http://www.rancholascruces.com/en/activities/" class="resort_link">
        <input type="submit" value="More Info" class="btn btn-info">
    </form><br><br>
    <br>

    <h3>Snorkeling and Scuba Diving</h3>
    <p>The resort is located on a natural sanctuary with 7 miles of private pristine coastline, so don't forget your swim suits! If you are interested in scuba diving, some licensing and preparation is requried, so please email <b>melandnatemexico@gmail.com</b> for more information. If you are looking for something more casual, canoes, kayaks, paddleboards, and even boats are available to be rented!</p><br>


    <div class="row">
      <div class="col-xs-6 col-md-4">
        <div class="thumbnail">
          <img src="http://rancholascruces.com/wp-content/uploads/2014/12/activity-baja-12-rancho-las-cruces.jpg" alt="...">
        </div>
      </div>

      <div class="col-xs-6 col-md-4">
        <div class="thumbnail">
          <img src="http://rancholascruces.com/wp-content/uploads/2014/12/walewatching-baja-2-rancho-las-cruces.jpg" alt="...">
        </div>
      </div>

      <div class="col-xs-6 col-md-4">
        <div class="thumbnail">
          <img src="http://rancholascruces.com/wp-content/uploads/2013/08/Landscape-53.jpg" alt="...">
        </div>
      </div>
    </div><br>

    <form action="http://www.rancholascruces.com/en/activities/" class="resort_link">
        <input type="submit" value="More Info" class="btn btn-info">
    </form><br><br>
    <br>

</div>